* {
	padding: 0;
	margin: 0;
}

body {
	font-size: 100%;
	background-color: #cdede6;
	text-align: center;
}

/*		HEADER		*/
div#header{
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-flex-direction: row;
	margin: 0 auto;
	padding: 2vh 3vw;
	float: left;
	width: 94vw;
	height: 10vh;
	background-color: lightblue;
	border-radius: 0 0 5% 5%;
	border-bottom: 1.8px #5a80b8 solid;
}

#header img {
	width: 12vmin;
	float: left;
	padding-right:1.5vw;
}

#header h1 {
	padding-top: 0.5vh;
	font-family: "courier-new", sans-serif;
	font-size: 9vmin;
	color: #5a80b8;
}

/*		END HEADER		*/


/*		TABLE			*/

.table {
	padding: 5vh 0;
	display: inline-block;
	margin: 0 auto;
	width: 90vw;
}

@media (max-width: 450px) {
	.table table {
		border-collapse: collapse;
	}
}

.table table.one-third {
	width: 14.166vw;
	float: left;
}

.table table.two-thirds {
	width: 70.833vw;
	float: right;
}

.table table.bottom {
	clear: both;
	padding-top: 2vh;
	position: relative;
	left: 19.2vw;
	width: 70.833vw;
}

td {
	background-color: #faebd7;
	border: 0.01vw solid #5a80b8;
}

td.blank {
	border: none;
	background-color: #cdede6;
}

.table table.one-third td {
	width: 30%;
}

.table table.two-thirds td {
	width: 6%;
	position: relative;
	right: 0;
}

.table table.bottom td {
	width: 6.6%;
}

.sym {
	display: block;
	color: #62595c;
	font-size: 3vmin;
	font-weight: bold;
	text-align: center;
}

.weight {
	display: block;
	font-size: 1vmin;
	text-align: right;
}

.num {
	display: block;
	font-size: 1vmin;
	text-align: left;
}
